<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
       .container {
        width: 100%;
        text-align: center;
       }
       body, html {
        height: 100%;
        text-align: center;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
       }
    </style>
</head>
<body>
    <div class="container">
        <div class="px-4 py-5 my-5 text-center" bis_skin_checked="1">
            <img class="d-block mx-auto mb-4" src="https://png.pngtree.com/png-vector/20210330/ourmid/pngtree-math-png-image_3166138.jpg" alt="" width="72" height="57">
            <h1 class="display-5 fw-bold text-body-emphasis">Welcome to the Maths Score Prediction App</h1>
            <div class="col-lg-6 mx-auto" bis_skin_checked="1">
            <p class="lead mb-4"> You can specify the values of 7 features related to a student and check the maths score prediction. To enter the prediciton page, click the button below: </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center" bis_skin_checked="1">
                <form action="{{ url_for('predict_datapoint')}}">
                    <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Click here</button>
                </form>
            </div>
            <br>
            <br>
            <p class="lead mb-4"> You can check out the Analysis Notebook by clicking here:</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center" bis_skin_checked="1">
                <form action="{{ url_for('show_analysis')}}">
                    <button type="submit" class="btn btn-success">Click Here</button>
                </form>
            </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>